
body{
    
    height: 100vh;
    background-color: rgba(214, 200, 214, 0.845);
    display: flex;
}

main{
    margin: auto;
    width: 500px;
    height: 600px;
    
    

}

.skills__0{
    width: 100%;
    height: 20px;
    border: solid 1px;
    transition: height 2s;
    overflow: hidden;
}
.skills__1{
    width: 100%;
    height: 20px;
    border: solid 1px;
    transition: height 2s;
    overflow: hidden;
}
.skills__2{
    width: 100%;
    height: 20px;
    border: solid 1px;
    transition: height 2s;
    overflow: hidden;
}